h1 {
  font-family: "Righteous", cursive;
  text-align: center;
  font-style: italic;
}
h2 {
  font-family: "Righteous", cursive;
}

body {
  background-image: url("https://www.sightseeingpass.com/images/homepage/new-york/new-york-home-header.jpg");
}

p {
  font-family: "Mandali", sans-serif;
  text-align: center;
  text-align: justify;
}

.container {
  height: 45%;
  width: 45%;
  background-color: orange;
}

.press {
  background-color: antiquewhite;
  align-content: center;
}
